/* Q.3. Create a grid with of different types. */

body {
    background-color:#E7E9EB;
  }

  #myDIV {
    height:300px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    grid: 100px / auto auto auto;
  }
  
  #myDIV div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }