/* Q.3. Create a different page with the width, style and color of the 4 border-style(set 
    different borders on each side with different patterns).  */

body {
    border-top-style: dashed ;        /* style 1  */
    border-width: 10px;            /* width  */
    border-color: red;           /* color  */
    border-bottom-style: double;     /* style 2  */
    border-left-style: dotted;       /* style 3  */
    border-right-style: solid;       /* style 4  */
}


 p {
     text-align: center;
   }    