/* Q.3. A long page which should have two links "click to go to bottom of page" and "click to 
    go to top of page" . Also set their scroll-behavior to scroll smoothly. */

    html {
        scroll-behavior: smooth;      /* smooth scroll */
      }
      
      #top {
        height: 800px;
        background-color: pink;
      }
      
      #bottom {
        background-color: yellow;
      }